<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfndFBDVWhOj7xcAoQY4_unomsFxItF-g</string>
	<key>GCM_SENDER_ID</key>
	<string>1092602739379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.personalExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>personal-expense-traker</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-expense-traker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092602739379:ios:f736611b56ed25fc1bcec6</string>
</dict>
</plist>